.reports-constainer {
  height: 100%;
  width: 80%;

  display: flex;

  justify-items: center;
  flex-flow: row wrap;
  .reports-intro-box {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    padding: 3rem 1rem 0rem 1rem;
    .reports-title {
      h1 {
        margin: 0.2rem;
        padding: 0 0 0.25rem 0;
      }
    }
    .reports-subtitle {
      h3 {
        margin: .5rem;
        padding: 0;
      }

    }
    .reports-para {
     padding: 0 2rem;
      margin-top: -.5rem;
   
    }
  }
  .reports-grid {
    padding-bottom: 10vh;
    width: 100%;
    display: flex;

    .reports-card {
      width: 30rem;
      margin: 1rem;
      -webkit-box-shadow: 3px 7px 52px -12px rgba(0, 0, 0, 0.37);
      -moz-box-shadow: 3px 7px 52px -12px rgba(0, 0, 0, 0.37);
      box-shadow: 3px 7px 52px -12px rgba(0, 0, 0, 0.37);
      border-radius: 10px 10px 10px 10px;
      -moz-border-radius: 10px 10px 10px 10px;
      -webkit-border-radius: 10px 10px 10px 10px;

      @media (min-width: 800px) {
        width: 100%;
        display: flex;
      
        -webkit-box-shadow: 3px 7px 52px -12px rgba(0, 0, 0, 0.37);
        -moz-box-shadow: 3px 7px 52px -12px rgba(0, 0, 0, 0.37);
        box-shadow: 3px 7px 52px -12px rgba(0, 0, 0, 0.37);
        border-radius: 10px 10px 10px 10px;
        -moz-border-radius: 10px 10px 10px 10px;
        -webkit-border-radius: 10px 10px 10px 10px;
      }
      overflow: hidden;
      .reports-card-pic {
        width: 100%;
        @media (min-width: 800px) {
          width: 40%;
          img {
            min-height: 100%;
            max-width: 100%;
          }
        }
        img {
          max-height: 100%;
          max-width: 100%;
        }
      }
      .reports-card-text {
        padding: 1rem 1rem 0 1rem;
        @media (min-width: 800px) {
          width: 60%;
        
        }
        .seperating-line {
          border-bottom: 1px solid black;
          @media (min-width: 800px) {
            width: 60%;
          
          }
        }
        .reports-card-subtitle {
          margin: 0;
          h3 {
            margin-bottom: 0.25rem;
            font-weight: 900;
          }
        }
        .reports-card-author-info {
          font-weight: 200;
          color: grey;
          font-style: italic;
          padding-bottom: 1rem;
        }
        .reports-intro {
          padding-bottom: 1rem;
        }
      }

      .button-container {
        display: flex;
        justify-content: center;
        padding-top: .3rem;

        @media (min-width: 800px) {
          display: flex;
    justify-content: flex-end;
    padding-top: .3rem;
    width: 91%;
    .btn-dissabled {
      margin: 0;
    }
        }
      }
    }
  }
  .load-more-cards {
    border-radius: 3px;
    height: 1rem;
    padding: 1rem;
    background: rgb(151, 100, 66);
  }
}
